version: 0.0
os: linux
files:
  - source: /
    destination: /deploy/meshblu-blink1/$TRAVIS_COMMIT
hooks:
  ApplicationStart:
    - location: pwd
    - location: env
    - location: .kubernetes/application_start
